<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://yislms.com/aerospace/local/dashboard/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://yislms.com/aerospace/local/dashboard/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg d-none bg-color py-1 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="far fa-user px-3"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-bars"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto d-none col-md-3 col-xl-2 px-sm-2 px-0 side-nav">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100 ">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                Creations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link px-0 align-middle">
                                Discover
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col px-0">
                <div class="bg-color-blue">
                    <h5 class="mb-0 p-4">Admin Dashboard</h5>
                    <nav>
                        <div class="nav nav-tabs main-tab border-0" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-dashboard" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">Dashboard</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-teachers" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">Teachers</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-schools" type="button" role="tab" aria-controls="nav-contact"
                                aria-selected="false">Schools</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-classrooms" type="button" role="tab" aria-controls="nav-contact"
                                aria-selected="false">Classrooms</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-assignment" type="button" role="tab" aria-controls="nav-contact"
                                aria-selected="false">Assignment</button>
                        </div>
                    </nav>
                </div>
                <div class="tab-content bg-white" id="nav-tabContent">
                    <!-- Dashboard Content -->
                    <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="bx-shadow p-4">
                            <h4 class="text-green">Dashboard</h4>
                            <p class="mb-0">View your subscription</p>
                        </div>

                        <div class="bg-gray container-fluid">
                            <div class="d-flex justify-content-end">
                                <p class="mb-0 mt-4 f-12">Last Updated, 02:24PM, 24 May 2024</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-5">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="dash-box text-center">
                                                <p class="f-45 fw-bolder">0</p>
                                                <p class="text-green f-20 text-uppercase">School</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="dash-box text-center">
                                                <p class="f-45 fw-bolder">0</p>
                                                <p class="text-green f-20 text-uppercase">School</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-7">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="dash-box text-center">
                                                <div class="row">
                                                    <div class="col-sm-12 col-lg-6">
                                                        <p class="f-45 fw-bolder">363</p>
                                                        <p class="text-green f-20 text-uppercase">Students</p>
                                                    </div>
                                                    <div class="col-sm-12 col-lg-6">
                                                        <img src="https://yislms.com/aerospace/local/dashboard/images/graph.png" alt="" class="img-graph">
                                                        <p class="f-12">87% Engaged<span class="text-black mx-1"><i
                                                                    class="fa-regular fa-circle-check"></i></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="dash-box text-center">
                                                <div class="row">
                                                    <div class="col-sm-12 col-lg-6">
                                                        <p class="f-45 fw-bolder">363</p>
                                                        <p class="text-green f-20 text-uppercase">Teachers</p>
                                                    </div>
                                                    <div class="col-sm-12 col-lg-6">
                                                        <img src="https://yislms.com/aerospace/local/dashboard/images/graph1.png" alt="" class="img-graph">
                                                        <p class="f-12">97% Engaged<span class="text-black mx-1"><i
                                                                    class="fa-regular fa-circle-check"></i></span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="">Student Usage</h5>
                            <div class="row">
                                <div class="col-sm-12 col-lg-4">
                                    <div class="graph-box">
                                        <div class="d-flex">
                                            <div class="me-auto">
                                                <p class="text-green mb-0">Active Students <span class="text-black"><i
                                                            class="fa-regular fa-circle-check"></i></span></p>
                                                <p class="mb-0 f-12">Past & Weeks</p>
                                            </div>
                                            <div class="">
                                                <div class="dropdown drp-graph">
                                                    <button class="btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Weekly
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Weekly</a></li>
                                                        <li><a class="dropdown-item" href="#">Monthly</a></li>
                                                        <li><a class="dropdown-item" href="#">Yearly</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <canvas id="myChart1" width="400" height="400"></canvas>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="graph-box">
                                        <div class="d-flex">
                                            <div class="me-auto">
                                                <p class="text-green mb-0">Total On Site Mintues <span class="text-black"><i
                                                            class="fa-regular fa-circle-check"></i></span></p>
                                                <p class="mb-0 f-12">Past & Weeks</p>
                                            </div>
                                            <div class="">
                                                <div class="dropdown drp-graph">
                                                    <button class="btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Weekly
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Weekly</a></li>
                                                        <li><a class="dropdown-item" href="#">Monthly</a></li>
                                                        <li><a class="dropdown-item" href="#">Yearly</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <canvas id="myChart2" width="400" height="400"></canvas>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="graph-box">
                                        <div class="d-flex">
                                            <div class="me-auto">
                                                <p class="text-green mb-0">Total On Site Breakdown <span class="text-black"><i
                                                            class="fa-regular fa-circle-check"></i></span></p>
                                                <p class="mb-0 f-12">Past & Weeks</p>
                                            </div>
                                            <div class="">
                                                <div class="dropdown drp-graph">
                                                    <button class="btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Weekly
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Weekly</a></li>
                                                        <li><a class="dropdown-item" href="#">Monthly</a></li>
                                                        <li><a class="dropdown-item" href="#">Yearly</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <canvas id="myChart3" class="chart-graph"
                                            style="width:100%;max-width:600px"></canvas>
                                    </div>
                                </div>


                            </div>
                            <h5 class="mb-0 py-3">Student Progress</h5>
                            <div class="row">
                                <div class="col-sm-12 col-lg-4">
                                    <div class="graph-box">
                                        <div class="d-flex">
                                            <div class="me-auto">
                                                <p class="text-green mb-0">Solution Submitted <span class="text-black"><i
                                                            class="fa-regular fa-circle-check"></i></span></p>
                                                <p class="mb-0 f-12">Past & Weeks</p>
                                            </div>
                                            <div class="">
                                                <div class="dropdown drp-graph">
                                                    <button class="btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Weekly
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Weekly</a></li>
                                                        <li><a class="dropdown-item" href="#">Monthly</a></li>
                                                        <li><a class="dropdown-item" href="#">Yearly</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                       
                                        <canvas id="myChart4" class="chart-graph"
                                        width="400" height="400"></canvas>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="graph-box">
                                        <div class="d-flex">
                                            <div class="me-auto">
                                                <p class="text-green mb-0">Progress Breakdown <span
                                                        class="text-black"><i
                                                            class="fa-regular fa-circle-check"></i></span></p>
                                                <p class="mb-0 f-12">Past & Weeks</p>
                                            </div>
                                            <div class="">
                                                <div class="dropdown drp-graph">
                                                    <button class="btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Weekly
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Weekly</a></li>
                                                        <li><a class="dropdown-item" href="#">Monthly</a></li>
                                                        <li><a class="dropdown-item" href="#">Yearly</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <canvas id="myChart5" class="chart-graph"
                                        style="width:100%;max-width:600px"></canvas>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="graph-box">
                                        <div class="d-flex">
                                            <div class="me-auto">
                                                <p class="text-green mb-0">Most Active Classrooms <span
                                                        class="text-black"><i
                                                            class="fa-regular fa-circle-check"></i></span></p>
                                                <p class="mb-0 f-12">Past & Weeks</p>
                                            </div>
                                            <div class="">
                                                <div class="dropdown drp-graph">
                                                    <button class="btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Weekly
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><a class="dropdown-item" href="#">Weekly</a></li>
                                                        <li><a class="dropdown-item" href="#">Monthly</a></li>
                                                        <li><a class="dropdown-item" href="#">Yearly</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="myChart6" class="chart-graph" style="width:100%; max-width:600px; height:364px;"></div>
                                    </div>
                                </div>


                            </div>
                            <div class="row py-4">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="graph-box">
                                        <p class="heading-table">Subscription Detail</p>
                                        <hr class="hr-tbl">
                                        <div class="table-responsive">
                                            <table class="table table-striped sb-table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Subscription Name</th>
                                                        <th scope="col">Available content</th>
                                                        <th scope="col">Available seats</th>
                                                        <th scope="col">Use seats</th>
                                                        <th scope="col">Start date</th>
                                                        <th scope="col">End date</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2022 2023 school vihar</td>
                                                        <td>BA1 BA2 CA1 CA2 DA1 DA2 EA1 EA2</td>
                                                        <td>243</td>
                                                        <td>200</td>
                                                        <td>Oct 08, 2024</td>
                                                        <td>Oct 08, 2024</td>
                                                        <td>Valid</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2022 2023 school vihar</td>
                                                        <td>BA1 BA2 CA1 CA2 DA1 DA2 EA1 EA2</td>
                                                        <td>243</td>
                                                        <td>200</td>
                                                        <td>Oct 08, 2024</td>
                                                        <td>Oct 08, 2024</td>
                                                        <td>Valid</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2022 2023 school vihar</td>
                                                        <td>BA1 BA2 CA1 CA2 DA1 DA2 EA1 EA2</td>
                                                        <td>243</td>
                                                        <td>200</td>
                                                        <td>Oct 08, 2024</td>
                                                        <td>Oct 08, 2024</td>
                                                        <td>Valid</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Dashboard Content -->
                    <div class="tab-pane fade" id="nav-teachers" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!-- Teachers Content -->
                    </div>
                    <div class="tab-pane fade" id="nav-schools" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <!-- Schools Content -->
                    </div>
                    <div class="tab-pane fade" id="nav-classrooms" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!-- Classrooms Content -->
                    </div>
                    <div class="tab-pane fade" id="nav-assignment" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <!-- Assignment Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://yislms.com/aerospace/local/dashboard/js/popper.min.js"></script>
    <script src="https://yislms.com/aerospace/local/dashboard/js/bootstrap.min.js"></script>
    <script src="https://yislms.com/aerospace/local/dashboard/js/chart-graph.js"></script>
    
</body>

</html>