<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="background-banner"
        style="background-image: url(https://www.greatschools.org/gk/wp-content/uploads/2014/03/The-school-visit-what-to-look-for-what-to-ask-1-750x325.jpg);">
        <h1 class=" heading-school font-bold">The Mother's International School.</h1>

    </div>
    <div class="schooldetails gap-x-4 my-5">
        <div class="card">
            <h1 class="text-lg">School deatils</h1>
            <table>

                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>The Mother's International School.</td>
                    </tr>
                    <tr>
                        <td>ij</td>
                        <td>ij</td>
                    </tr>
                    <tr>
                        <td>ij</td>
                        <td>ij</td>


                    </tr>
                    <tr>
                        <td>ij</td>
                        <td>ij</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorem rem, nobis beatae officia
                dignissimos quaerat itaque quod ducimus ad omnis adipisci sit voluptatem aspernatur harum culpa incidunt
                hic ex.</p>
        </div>
    </div>


</body>

</html>